version: "3.9"

services:
  keycloak:
    container_name: keycloak
    image: "quay.io/keycloak/keycloak:24.0.4"
    restart: unless-stopped
    command: ["start", "--proxy-headers"]
    environment:
      KC_DB: "postgres"
      KC_DB_URL_HOST: "postgres"
      KC_DB_URL_PORT: "5432"
      KC_DB_URL_DATABASE: "phantom"
      KC_DB_USERNAME: "nurvan"
      KC_DB_PASSWORD: "kmzwa88sAA"
      KEYCLOAK_ADMIN: "admin"
      KEYCLOAK_ADMIN_PASSWORD: "changeme"
      KC_PROXY: "edge"
      KC_HOSTNAME: "nurvan.my.id"
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_HTTPS: "false"
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/health/ready || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 8
    networks:
      - keycloak-net

  postgres:
    container_name: postgres
    image: "postgres:15"
    restart: unless-stopped
    environment:
      POSTGRES_DB: "phantom"
      POSTGRES_USER: "nurvan"
      POSTGRES_PASSWORD: "kmzwa88sAA"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - keycloak-net

networks:
  keycloak-net:
    driver: bridge

volumes:
  postgres_data: